.caja {
    margin: 200px;
    background-color: lightblue;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: all 0.3s ease; /* Las transiciones suelen ir declaradas en el contenedor, porque aplican a todo */
    opacity: .5;
}

.caja:hover {
    /*
    box-shadow: inset 0 0 0 25px red;
    font-size: 100px;
    background-color: aqua;
    */
    opacity: 1;
}

img {
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

img:hover {
    filter: grayscale(0);
}